{% extends 'base.html' %}


{% block content %}
    <h1>ابحث عن وصفة</h1>
    <form method="POST">
        <input type="text" name="query" value="{{ query }}" class="form-control mb-3" placeholder="ابحث عن وصفة..." required>
        <button type="submit" class="btn btn-primary">بحث</button>
    </form>

    {% if recipes %}
        <h2 class="mt-5">نتائج البحث:</h2>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4 mt-3">
                    <div class="card">
                        {% if recipe[4] %}
                            <img src="{{ url_for('static', filename='uploads/' + recipe[4]) }}" class="card-img-top" alt="صورة الوصفة">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe[1] }}</h5>
                            <p class="card-text"><strong>المكونات:</strong> {{ recipe[2] }}</p>
                            <p class="card-text"><strong>الطريقة:</strong> {{ recipe[3] }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif query %}
        <div class="alert alert-warning mt-5">
            لم يتم العثور على وصفات تطابق: "{{ query }}"
        </div>
    {% endif %}
{% endblock %}
